legacy-peer-deps=true
node-linker=hoisted
engine-strict=false
prefer-offline=true
save-exact=true
auto-install-peers=true
strict-peer-dependencies=false
verify-store-integrity=false
resolution-mode=highest 